// resurse/scss/custom.scss

@use "sass:color";


@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";

$primary: #242246;
$body-bg: #0A0A0A;

$link-color: color.adjust($primary, $lightness: 30%);
$link-hover-color: color.adjust($link-color, $lightness: 15%);
$theme-colors: map-merge(
                $theme-colors,
                (
                        "primary": $primary,
                  // ...
                )
);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 800px,
        lg: 1050px,
        xl: 1200px,
        xxl: 1400px
);
// ... etc ...


@import "../../node_modules/bootstrap/scss/bootstrap";

