<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragmente/head', { titlu: locals.titlu || "Galerie Animată AutoNet" }) %>
    <!--  specific galeriei -->
    <link rel="stylesheet" type="text/css" href="/resurse/css/galerie-noua.css">


    <style>
        header { z-index: 900; position: relative; }
        footer { z-index: 900; position: relative; /* background-color: rgba(0,0,0,0.8); */ }
    </style>
</head>
<body class="pagina-galerie-animata">
<%- include('../fragmente/header') %>

<main class="continut-pagina-galerie">
    <h1>Galerie Animată</h1>
    <p class="subtitlu-galerie">Explorează o colecție vibrantă de imagini, prezentate într-un mod dinamic și captivant.</p>

    <div id="galerie-animata-container">
        <div id="galerie-animata">

        </div>
    </div>
</main>


<hr class="hr-customizat-steluta">

<%- include('../fragmente/footer') %>

<script src="/resurse/js/galerie-noua.js"></script>
</body>
</html>