<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="vanzare auto, vanzare masini sh, auto sh, auto germania, verificare auto">
<meta name="description" content="AutoNet">
<meta name="author" content="Bogdan">

<link rel="icon" type="image/png" href="/resurse/imagini/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg">
<link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="AutoNet">
<link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest">

<link rel="stylesheet" type="text/css" href="/resurse/main.css">
<link rel="stylesheet" type="text/css" href="/resurse/output2.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS Files/output.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS%20Files/blog.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS%20Files/footer.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS%20Files/header.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS%20Files/hero-section.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS%20Files/layout.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS%20Files/newsletter.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS%20Files/table.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS%20Files/video-promo.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS Files/despre-premium.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="/resurse/CSS Files/video-vtt.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS Files/hamburger-icon.css">
<link rel="stylesheet" type="text/css" href="/resurse/CSS Files/mobile-panel-menu.css">




<link rel="stylesheet" type="text/css" href="/resurse/printare.css" media="print">


<title><%= locals.titlu || "AutoNet" %></title>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"